body {
    font-family: Monospace;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#info {
    text-align:center;
    color:#000;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
}
#inset  {
    width: 200px;
    height: 200px;
    background-color: #fff; /* or transparent; */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

